footer.footer
    .footer__logo-box
        img.footer__logo(src='/img/logo-green.png', alt='Natours logo') 

        ul.footer__nav 
            li.footer__item 
                a.footer__link(href='#') Become a guide
            li.footer__item 
                a.footer__link(href='#') Careers
            li.footer__item 
                a.footer__link(href='#') Privacy policy
            li.footer__item 
                a.footer__link(href='#') Terms
        p.footer__copyright 
            |&copy; 2025 by Mohamed Koura.
